@use "../abstracts/" as *;
@use "sass:color";

.footer {
  background-color: $color-secondary-light;
  padding: 3rem 0;
}

.footer__container {
  @include make-container();

  display: flex;
  flex-direction: row;
}

.footer__text-column {
  flex: 0 0 50%;
}

.footer__logo-column {
  flex: 0 0 50%;
}

.footer__heading {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1em;
}

.footer__paragraph {
  color: $color-primary;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer__contact-item {
}

.footer__contact-item-icon {
  background-color: $color-primary;
  height: 4rem;
  width: 4rem;
  text-align: center;
  border-radius: 1000px;
  font-size: 2.5rem;
  color: $color-secondary-light;

  &--phone {
    line-height: 3.9rem;
  }
}

.footer__contact-item-link {
  display: block;
}
