@use "../../abstracts" as *;
@use "sass:color";

.about {
  background-color: $color-secondary-dark;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about__img {
  $-img-size: 30rem;

  width: $-img-size;
  height: $-img-size;
  object-fit: cover;
  float: left;

  border-radius: $-img-size / 2;
  shape-outside: circle(50% at 50% 50%);
}

.about__text {
  color: white;
}
