@use "../../abstracts" as *;

.motivation {
    margin-top: 2rem;
}

.motivation__column-text {
    float: left;
    width: 33.3%;
}

.motivation__text-heading {
    margin-top: 4rem;
    color: $color-secondary;
    font-weight: 500;

    // Strich über Header
    &::before {
        content: "";
        display: block;
        width: 3rem;
        height: 0.25rem;
        background-color: $color-secundary-light;
        margin-bottom: 0.5rem;
    }
}

.motivation__text {
    color: $color-secondary;
    margin-top: 0.2rem;
}

.motivation__column-images {
    float: left;
    width: 66.6%;
    position: relative;
}

.motivation__image {
    width: 50%;    
    position: absolute;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 50%);

    &--first {
        z-index: 1;
        width: 75%;
        right: 0rem;        
    }

    &--second {
        z-index: 2;
        width: 37%;
        top: 10rem;
        left: 10%;                
    }

    &--third {
        z-index: 3;
        width: 42%;
        top: 5rem;
        left: 40%;        
    }
}