.card {
    $card-text-color: black;
    $card-heigth: 10rem;

    padding-top: ($card-heigth - 2.5rem) / 2;
    padding-right: 3rem;
    padding-left: 3rem;

    height: $card-heigth;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
    color: black;
    text-align: center;

    background: linear-gradient(30deg, #3ff0a6, #49e023);

    &--blue {
        // in css -> .card--blue. & bedeutet, es wird angehängt
        background-image: url("../images/logo.svg"), 
        linear-gradient(30deg, #3ff0a6, #49e023);
        background-repeat: no-repeat;
        background-position: 1rem 1rem, center center;
        background-size: 4rem 4rem, 100% 100%;
    }

    @media (max-width: 74em) {
        background-image: url("../images/logo.svg"), 
        linear-gradient(30deg, #423ff0, #c227ad);
    }

    h1,
    h2,
    h3 {
        // color: white;

        &:hover {
            // & -> gilt für alle Überschriften, Kurzschreibweise anstatt es wie im css nochmal extra zu schreiben
            color: greenyellow;

            @media (max-width: 74em) {
                color: paleturquoise;
            }
        }
    }
}