@use "sass:color";
@use "../abstracts/button" as *; // * -> kann ohne einen Namespace verwendet werden (Variable kann direkt genutzt werden anstatt button.$button-gree-color)

$card-text-color: black;

@mixin linear-gradient-background($start, $send, $degree: 30deg) { // $degree: 30deg -> Standartparameter, wenn keiner übergeben wird
    background-color: #3ff0a6;
    background: linear-gradient($degree, $start, $send);

    &:hover {
        background: linear-gradient($degree, $send, $start);
    }
}

.card {

    $card-height: 10rem;

    padding-top: calc(($card-height - 2.5rem) / 2);
    padding-right: 3rem;
    padding-left: 3rem;

    height: $card-height;
    border-radius: 0.5rem;

    border: 1rem solid color.scale($card-text-color, $lightness: 50%);
    box-shadow: 0.2rem 0.2rem 1rem color.adjust($card-text-color, $alpha: -0.5);
    color: $card-text-color;
    text-align: center;

    @include linear-gradient-background(#3ff0a6, #49e023, 200deg);

    &--blue {
        // in css -> .card--blue. & bedeutet, es wird angehängt
        background-image: url("../images/logo.svg"),
            linear-gradient(30deg, #3ff0a6, #49e023);
        background-repeat: no-repeat;
        background-position: 1rem 1rem, center center;
        background-size: 4rem 4rem, 100% 100%;
    }

    @media (max-width: 74em) {
        background-image: url("../images/logo.svg"),
            linear-gradient(30deg, #423ff0, #c227ad);
    }

    h1,
    h2,
    h3 {
        // color: white;

        &:hover {
            // & -> gilt für alle Überschriften, Kurzschreibweise anstatt es wie im css nochmal extra zu schreiben
            color: $card-text-color;

            @media (max-width: 74em) {
                color: paleturquoise;
            }
        }
    }
}

%button { // % sorgt dafür, das bei @extend die Kommaschreibweise nicht genutzt wird sonder die Klassen mit .button-green den Inhalt von %button hat
    display: inline-block;
    margin: 1rem;
    padding: 1rem 3rem;
    border: 0.05rem solid rgb(150, 150, 150);
    border-radius: 1rem;
    text-decoration: none;
}

// @mixin css Code wird kopiert
// @extend css Code wird für die Klasse eingesetzt
// kann genutzt werden, wenn die BEM schreibweise nicht genutzt wird

.button-green {
    @extend %button;

    background-color: $button-gree-color;
    color: white;
}

.button-blue {
    @extend %button;
    background-color: $button-blue-color;
    color: white;
}