/* Start Code damit es im jedem Browser gleich aussieht */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image: url("../img/pexels-pixabay-45230.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Dosis', sans-serif;
}

.header {
    text-align: center;
}

.logo {
    max-width: 200px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.main {
    color: white;
    text-align: center;    
}

.main-heading {
    margin-bottom: 5px;
}

.button {
    margin-top: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: rgb(135, 111, 96);
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
    width: 10%;
    transition: width 2s;

    animation-name: button-animation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
    animation-delay: 2s;
    animation-fill-mode: both;
}

@keyframes button-animation {
    0% {
        background-color: red;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: yellow;
    }
}