/* Start Code damit es im jedem Browser gleich aussieht */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image: url("../img/pexels-pixabay-45230.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Dosis', sans-serif;
}

.header {
    text-align: center;
}

.logo {
    max-width: 200px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.main {
    color: white;
    text-align: center;    
}

.main-heading {
    margin-bottom: 5px;
}

.button {
    margin-top: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: rgb(135, 111, 96);
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
    width: 10%;
    transition: width 2s;

    /* animation-name: button-animation, button-animation-position;
    animation-duration: 10s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: 5, 10;
    animation-delay: 2s, 0s;
    animation-fill-mode: both; */

    animation: button-animation 10s linear 5 2s both,
               button-animation-position 5s ease-in-out 10 0s both;
}

@keyframes button-animation-position {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(50px, 10px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes button-animation {
    0% {
        width: 250px;
        background-color: red;
    }
    50% {
        width: 500px;
        background-color: green;
    }
    100% {
        width: 250px;
        background-color: yellow;
    }
}