/* Start Code damit es im jedem Browser gleich aussieht */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image: url("../img/pexels-pixabay-45230.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    max-width: 200px;
}