body {
    background-color: #121417;
    margin: 0;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

h1 {
    color: #ffffff;
}

.main-container {
    flex-direction: column;    
    text-align: left;
    background-color: #252d37;
    border-radius: 25px;
    padding: 30px;    
    width: 330px;    
    height: 330px;    
}

.main-text {
    color: #949dab;
    margin: 20px 0;
}

.star-size {
    width: 15px;
    height: 15px;
}

.star-color-unclicked {
    filter: invert(69%) sepia(24%) saturate(178%) hue-rotate(177deg) brightness(88%) contrast(82%);
}

.star-color-clicked {
    filter: invert(62%) sepia(29%) saturate(7103%) hue-rotate(351deg) brightness(100%) contrast(99%);
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
} 

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;    
    background-color: #414545;
    color: #959eac;
    width: 25px;
    height: 25px;  
    text-align: center;
    cursor: pointer;    
}

.circle-hover:hover {
    background-color: #7c8798;
    color: #ffffff; 
}

.circle-clicked {
    background-color: #fb7413;
    color: #ffffff;
}

.button {
    color: #ffffff;
    background-color: #fb7413;
    border-radius: 50px;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    cursor: pointer;
}

.button:hover {
    background-color: #f0ffff;
    color: #fb7413;
}

.voted-container {
    display: none;
    flex-direction: column;    
    text-align: center;
    background-color: #252d37;
    border-radius: 25px;
    padding: 30px;    
    width: 300px;    
    height: 300px; 
}

.voted-text {
    color: #949dab;
}

.thank-you {
    color: #ffffff;
}

.selectedRating {
    background-color: #2d3641;
    border-radius: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    display: inline-block;
    color: hsl(25, 97%, 53%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.attribution a {
    color: #3e52a3;
}